* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
}

/*  VARIABLES */
:root {
    --titlecolor:#e53170;
    --platetextcolor:white;
    --platecolor:#0f0e17;
    --titlefont:font-family: 'Fredoka One', cursive;
}

/* HEADER */
header h1 {
    color:var(--titlecolor);
    text-align:center;
    font-family: var(--titlefont);
    font-size:2.5rem;
    padding-top:30px;
}

main {
    padding-top:30px;
    max-width: 66%;
    margin: 0 auto;
}

.introtext {
    text-align:center;
    font-weight: 300;
    margin-bottom:40px;
}

div {
    border:1px solid black;

}