* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

/* COLORS VARIABLES */
:root {
    --title:#e53170;
    --platetextcolor:white;
    --platecolor:#0f0e17;
}