* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
}

/*  VARIABLES */
:root {
    --titlecolor:#e53170;
    --platetextcolor:white;
    --platecolor:#0f0e17;
    --titlefont:font-family: 'Fredoka One', cursive;
}

/* HEADER */
header h1 {
    color:var(--titlecolor);
    text-align:center;
    font-family: var(--titlefont);
    font-size:2.5rem;
    padding-top:30px;
}

main {
    padding-top:30px;
    max-width: 1200px;
    margin: 0 auto;
}

.introtext {
    font-weight: 400;
    font-size:1.1rem;
    margin-bottom:50px;
    text-align:center;
}

main div {
/*     border:1px solid black;
 */    width: calc(100% / 3 - 25px);
    float:left;
    background-color:black;
    margin-left:25px;
    margin-bottom:40px;
}

main h3 {
    color:white;
    padding-top:10px;
}

main p {
    padding-top:10px;
    padding-bottom:10px;
    color:white;
}

a {
    padding-top:20px;
}

img {
    max-width: 120px;
    max-height: 120px;
    float:left;
    padding-right:10px;
}